{% extends 'index.html' %}
<!Doctype html>
<html>
    <head>
        <style>
            .form-label-group label {
            display: inline-block;
            margin-right: 10px;
            }

            .form-label-group select {
            display: inline-block;
            width: 200px; /* Adjust the width as needed */
            }
        </style>
    </head>
    <body>
{% block content %}   
<!-- login section start-->

  <div class="login_section">
    <div class="container">
   <div class="row">
     <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
       <div class="card card-signin my-5">
         <div class="card-body">
           <h5 class="card-title text-center">Add Client اضف عميل</h5>
           <form class="form-signin" method="post">
            {% csrf_token %}
                          
                <div class="form-label-group">
                    {{form.animaltype}}              
                    <label for="inputEmail">Animal Type</label>
                </div>
                    
                <div class="form-label-group">
                   {{form.phonenumber}}
                   <label for="inputEmail">Phone Number</label>
                </div> 
                        
                <div class="form-label-group">
                   {{form.clientname}}
                   <label for="inputEmail">Client Name</label>
                </div>

                <div class="form-label-group">
                   {{form.age}}
                    <label for="inputEmail">Animal Age</label>
                 </div>                    
                 <div class="form-group">
                    <div class="form-label-group">
                    <small class="form-text text-muted">Select a sample type</small>
                      {{ form.sampletype }}

                    </div>
                  </div>
                 <div class="form-label-group">
                    {{form.notes}}
                    <label for="inputEmail">Notes</label>
                 </div>      
          
             <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Add User</button>
             <hr class="my-4">
           </form>
         </div>
       </div>
     </div>
   </div>
 </div>
   </div>
 </div>
 <!-- login section end-->
            

{% endblock %}
