{% extends  'index.html'%}
{% load static %}

{% block content %}  

<div class="container">

    <form method="get" action="#">
        {% csrf_token %}
        <button type="submit" name="UploadImage" value="UploadImage" class="btn btn-outline-dark">Upload Image</button>
        <button type="submit" name="TakeImage" value="TakeImage" class="btn btn-outline-dark">Take Image</button>
    </form>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        {%if UploadImage%}
        Title{{ documentForm.title }}
        Document{{ documentForm.image }}
        <button type="submit" class="btn btn-outline-dark">Upload</button>
        {%elif TakeImage%}
        Title{{ documentForm.title }}
        img1<img src="../media/images/newdocument.jpg" style="height:400px; width:400px;">
           

        <button type="submit" class="btn btn-outline-dark">Take Image</button>
        {%endif%}        
        </form>
        




        {% if form_obj %}
    
        <h3>Succesfully uploaded : {{form_obj.title}}</h3>
        
        <img src="{{ form_obj.document.url }}" alt="connect" style="height:400px; width:400px;">

        {% endif %}

</div>


{% endblock %}