{% extends  'index.html'%}


{% block content %}  

<div class="container">

    <di class=" container">
    <H1 style="text-align: center;">Add Client</H1>    
    <div style="
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vh;
   
    margin-top:3vw;
  ">
    <form style="margin-left: 5%; margin-top:3vw; " method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
            <div class="row">

                 <div class="form-group col-md-4"> 
                     Animal Type {{form.animaltype}}    
                 </div>
                <div class="form-group col-md-4">   
                    Phone Number {{form.phonenumber}}
                </div> 
                <div class="form-group col-md-4">   
                    Client Name{{form.clientname}}
                </div>       

            </div>
            <div class="row">
                <div class="form-group col-md-6">   
                    Animal Age {{form.age}}
                 </div>  
                <div class="form-group col-md-6">   
                    Sample Type{{form.sampletype}}
                </div>      
            </div>
            <div class="row">
                <div class="form-group col-md-12"> 
                    Notes{{form.notes}}    
                </div>  
            </div>
            
      
        <div style="text-align: center; margin-top:20px;margin-bottom:20px;">
            <button  class="btn btn-outline-dark" type="submit">Submit</button>
        </div>
    </div>  
</form>
</div>


</div>


{% endblock %}