{% extends 'index.html' %}

{% block content %}
<!-- login section start-->
<div class="login_section">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-9 col-lg-9 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Blood Chemistry كيمياء الدم</h5>
            {% include 'partials/messages.html' %}
            <form class="form-signin" method="post">
              {% csrf_token %}

              <div class="form-label-group row">
                <div class="col-md-6">
                    {{ form.TotalProtien }}
                  <label for="inputEmail"> Protien بروتين</label>
                </div>

                <div class="col-md-6">
                   {{ form.Ck }}
                  <label for="inputEmail"> CK  قلب</label>
                </div>


              </div>

              <div class="form-label-group row">
                <div class="col-md-6">
                    {{ form.Calcium }}
                  <label for="inputEmail">Calcium كالسيوم</label>
                </div>

                <div class="col-md-6">
                    {{ form.Creatinine }}
                    <label for="inputEmail">Creatinine الكلي</label>
                </div>
              </div>

              <div class="form-label-group row">
                <div class="col-md-6">
                    {{ form.LDH }}                  
                    <label for="inputEmail">LDH عضلات</label>
                </div>

                <div class="col-md-6">
                    {{ form.Urea }}
                  <label for="inputEmail">Urea اليوريا</label>
                </div>
              </div>

              <div class="form-label-group row">
                <div class="col-md-6">
                    {{ form.AST_GOT }}
                    <label for="inputEmail">AST_GOT  الكبد ١</label>
                </div>

                <div class="col-md-6">
                    {{ form.ALT_GPT }}
                  <label for="inputEmail">ALT_GPT الكبد ٢</label>
                </div>
              </div>



              <div class="form-label-group row">
                <div class="col-md-6">
                    {{ form.Albumin }} 
                    <label for="inputEmail">Albumin البيومين</label>
                </div>

                <div class="col-md-6">
                    {{form.Phosphorous }} 
                    <label for="inputEmail">Phosphorous الفوسفور</label>
                </div>
              </div>

              <div class="form-label-group row">
                <div class="col-md-6">
                    {{ form.IRON }}
                    <label for="inputEmail">IRON حديد</label>
                </div>

                <div class="col-md-6">
                    {{ form.Gluco }}                   
                    <label for="inputEmail">Gluco جلوكوز</label>
                  </div>
              </div>

              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Submit</button>
              <hr class="my-4">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- login section end-->
{% endblock %}


