{% extends 'index.html' %}
{% load static %}
<!Doctype html>
<html>
    <head></head>
    <body>
        {% block content %}        
<!-- Industrial section start-->
<div class="marketing_section layout_padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="image_1 padding_0"><img src="{% static 'images/logo.jpg' %}"></div>
            </div>
            <div class="col-md-6">
                <div class="job_section_2">
                    <h1 class="jobs_text"> مختبر صحه الكائنات البيطريه</h1>

                    <p class="dummy_text"><strong>رقم الجوال:</strong>  0503721656 / 0537308922 </p>
                </div>
            </div>
        </div>
    </div>
</div>        {% endblock %}
    </body>
</html>


