{% extends 'index.html' %}

<!Doctype html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <script>
            $(document).ready(function(){
                $('.add-form').click(function(e){
                    e.preventDefault();
                    var emptyForm=$('.dynamic-form:last').clone(true);
                    emptyForm.find('input').val('');
                    emptyForm.insertAfter('.dynamic-form:last')
                });
                
                $('remove-form').click(function(e){
                    e.preventDefault();
                    if($('.dynamic-form').length>1){
                        $($(this).closest('.dynamic-form').remove());
                    }
                });
            
            });

        </script>
    </head>
    <body>
        {% block content %}        
            <h1>تسجيل الدخول</h1>
            <form  style="text-align: right;" method="POST">
                {% csrf_token %}
                <div class="dynamic-form">
                    {{ form.as_p }}
                </div>
               
                <button class="add-form"> Add Field</button>
                <button class="remove-form"> Remove Field</button>
                {% for dynamic_formset  in dynamic_formset%}
                    
                    {{dynamic_formset.as_p}}
                {%endfor%}
              
                <div style="text-align: center;">
                <button  class="btn btn-outline-dark" type="submit"> Create Form</button>
            </div>
            </form>
            <hr>
            
        {% endblock %}
    </body>
</html>


