{% extends 'index.html' %}

{% block content %}
<!-- login section start-->
<div class="login_section">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-9 col-lg-9 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Hametology امراض الدم</h5>
            {% include 'partials/messages.html' %}
            <form class="form-signin" method="post">
              {% csrf_token %}

              <div class="form-label-group row">
                <div class="col-md-6">
                  {{ form.WBC }}
                  <label for="inputEmail">WBC مناعة</label>
                </div>

                <div class="col-md-6">
                  {{ form.LYMPH }}
                  <label for="inputEmail">LYMPH خلايا ليمفاوية</label>
                </div>


              </div>

              <div class="form-label-group row">
                <div class="col-md-6">
                  {{ form.HCT }}
                  <label for="inputEmail">HCT الدم</label>
                </div>

                <div class="col-md-6">
                  {{ form.MCV }}
                  <label for="inputEmail">MCV معدل حجم كريات الدم</label>
                </div>
              </div>

              <div class="form-label-group row">
                <div class="col-md-6">
                  {{ form.MCHC }}
                  <label for="inputEmail">MCHC متوسط تركيز الهيموجلوبين</label>
                </div>

                <div class="col-md-6">
                  {{ form.PLT }}
                  <label for="inputEmail">PLT الصفائح الدموية</label>
                </div>
              </div>

              <div class="form-label-group row">
                <div class="col-md-6">
                  {{ form.MONO }}
                  <label for="inputEmail">MONO خلايا وحيدة النواة</label>
                </div>

                <div class="col-md-6">
                  {{ form.NEUT }}
                  <label for="inputEmail">NEUT الخلايا المتعادلة</label>
                </div>
              </div>



              <div class="form-label-group row">
                <div class="col-md-6">
                  {{ form.PLT }}
                  <label for="inputEmail">PLT الصفائح الدموية</label>
                </div>

                <div class="col-md-6">
                  {{ form.EOSIN }}
                  <label for="inputEmail">EOSIN الخلايا الحمضية</label>
                </div>
              </div>

              <div class="form-label-group row">
                <div class="col-md-6">
                  {{ form.RBC }}
                  <label for="inputEmail">RBC كريات الدم الحمراء</label>
                </div>

                <div class="col-md-6">
                    {{ form.HGB }}
                    <label for="inputEmail">HGB هيموجلوبين</label>
                  </div>
              </div>
              <div class="form-label-group row">

                <div class="col-md-12">
                  {{ form.MCH }}
                  <label for="inputEmail">MCH هيموجلوبين الكريه الوسط</label>
                </div>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Submit</button>
              <hr class="my-4">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- login section end-->
{% endblock %}
