{% extends 'index.html' %}




<!Doctype html>
<html>
    <head></head>
    <body>
        {% block content %}   

  <div class="services_section_2 layout_padding">
    <div class="container">
      <h1 class="companies_text">Client Name اسم العميل</h1>
      <h1 class="companies_text">{{client.clientname}}</h1>

      <div class="services_item ">
        <div class="row">
          <div class="col-sm-6 col-lg-6">
            <h1 class="jobs_main">Create report اطبع تقرير</h1>
            <div class="join_bt">
              <div class="join_text"><a href="{% url 'createreport'  client.clientnumber %}">Print Report</a></div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-6">
            <h1 class="jobs_main">Blood Chemistry</h1>

            <div class="join_bt">
              <div class="join_text"><a href="{% url 'bloodchemistry'  client.clientnumber %}">Check up</a></div>
            </div>
          </div>
       
          <div class="col-sm-6 col-lg-6">
            <h1 class="jobs_main">Haematology</h1>
            <div class="join_bt">
              <div class="join_text"><a href="{% url 'haematology'  client.clientnumber %}">Check up</a></div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-6">
            <h1 class="jobs_main">Intestinal Parasites</h1>
            <div class="join_bt">
              <div class="join_text"><a href="{% url 'intestinalparasites'  client.clientnumber %}">Check up</a></div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-6">
            <h1 class="jobs_main">Blood Parasite</h1>
            <div class="join_bt">
              <div class="join_text"><a href="{% url 'bloodparasite'  client.clientnumber %}">Check up</a></div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-6">
            <h1 class="jobs_main">ALL</h1>
            <div class="join_bt">
              <div class="join_text"><a href="{% url 'checkall'  client.clientnumber %}">Check up</a></div>
            </div>
          </div>
        
        </div>
      </div>
    </div>
  </div>
{% endblock %}
</body>
</html>


