{% extends 'index.html' %}
{% load static %}


{%block content%}
<div class="login_section">
    <div class="container">
   <div class="row">
     <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
       <div class="card card-signin my-5">
         <div class="card-body">
           <h5 class="card-title text-center">Select Option</h5>
        <div class="row">
            <div class="col-md-6">
                <a href="/en/search_user/">
                    <div class="circle-image">
                    <img src="{% static 'img/hourse1.jpg' %}" alt="Description of the image">
                    <div class="image-overlay">
                      <p>Search Client</p>
                  </div>   
                </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="/en/add_user/">
                    <div class="circle-image"> 
                    <img src="{% static 'img/hourses2.jpg' %}" alt="Description of the image">
                    <div class="image-overlay">
                      <p>Add Cleint</p>
                  </div>
                  </div>
                </a>
            </div>
        </div>
      </div>
    </div>
  </div>
    </div>
  </div>

       

        {% endblock %}
    </body>
</html>