{% extends 'index.html' %}




<!Doctype html>
<html>
    <head></head>
    <body>
        {% block content %}        
            <h1>Account Login </h1>
            <form  style="" method="POST">
                {% csrf_token %}
                <label style="text-align: right;">Email:</label>
                {{login_form.username}}
                <label style="text-align: right;">Password</label>
                {{login_form.password  }}
                <br>
                <div style="text-align: center;">
                <button  class="btn btn-outline-dark" type="submit">Login</button>
                <p><a href="{% url 'password_reset' %}">Forget Password</a></p>
            </div>
            </form>
            <hr>
            

        {% endblock %}
    </body>
</html>


