{% extends 'index.html' %}
<!Doctype html>
<html>
    <head>
        <style>
            .form-label-group label {
            display: inline-block;
            margin-right: 10px;
            }

            .form-label-group select {
            display: inline-block;
            width: 200px; /* Adjust the width as needed */
            }
        </style>
    </head>
    <body>
{% block content %}   
<!-- login section start-->


  <div class="login_section">
    <div class="container">
   <div class="row">
     <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
       <div class="card card-signin my-5">
         <div class="card-body">
           <h5 class="card-title text-center">Add  User اضف موظف</h5>
           {% include 'partials/messages.html' %}
           <form class="form-signin" method="post">
            {% csrf_token %}
                          

            <div class="form-label-group">
                {{register_form.email}}    
                 <label for="inputEmail">Email البريد الالكتروني</label>
             </div> 
                <div class="form-label-group">
                    {{register_form.username}}
                    <label for="inputEmail">Username اسم مستخدم</label>
                </div>
                    
                <div class="form-label-group">
                   {{register_form.fname}}    
                    <label for="inputEmail"> First Name الاسم الاول</label>
                </div> 

                <div class="form-label-group">
                    {{register_form.lname}}    
                     <label for="inputEmail">Last Name الاسم الثاني</label>
                 </div> 
         

               
                
                <div class="form-label-group">
                     {{register_form.password1}}    

                    <label for="inputEmail">Password الرقم سري </label>
                 </div> 
           
                 <div class="form-group">
                 <div class="form-label-group">
                    {{register_form.password2}}   
                    <label for="inputEmail">Password Again اعد الرقم السري</label>
 
                  </div>
                </div>                     
                 <div class="form-group">
                    <div class="form-label-group">
                    <small class="form-text text-muted">Select Date of Birth اختر تاريخ ميلاد</small>
                    {{register_form.birthdate}}

                    </div>
                  </div>

                  <div class="form-group">
                  <div class="form-label-group">
                    <small class="form-text text-muted">Select Gender نوع</small>
                    {{register_form.gender}}  
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="form-label-group">
                    <small class="form-text text-muted">Admin </small>
                    {{register_form.is_admin}}    
                 </div> 
                 </div>
                 <div class="form-group">
                    <div class="form-label-group">
                    <small class="form-text text-muted">Superuser</small>
                    {{register_form.is_superuser}}    
                </div>
                 </div>    
                 <div class="form-group">
                    <div class="form-label-group">
                    <small class="form-text text-muted">Technichal</small>
                    {{register_form.is_technichal}}    
                 </div>   
                 </div>  
                 <div class="form-group">
                    <div class="form-label-group">
                    <small class="form-text text-muted">Advisor</small>
                    {{register_form.is_advisor}}    
                 </div>  
                 </div>            
             <button class="btn btn-lg btn-dark btn-block text-uppercase" type="submit">Add User</button>
             <hr class="my-4">
           </form>
         </div>
       </div>
     </div>
   </div>
 </div>
   </div>
 </div>
 <!-- login section end-->
            

{% endblock %}
