{%load static %}
<head>
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<footer  class="text-center text-white upperfooter">
  <!-- Grid container -->
  <div class="container p-4 pb-0 upperfooter">
    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">

          

        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: #675D50">
     حقوق الملكيه:
    <a class="text-white" href="https://mdbootstrap.com/">مختبر صحه الكائنات البيطريه٢٠٢٣©</a>
  </div>
  <!-- Copyright -->
</footer></body>